#footer {
  margin-top: 10px;
  background-color: #ffffff;
}

.col.footer-head {
  margin-bottom: 0px;
  margin-top: 30px;
  text-align: left;
  font-family: 'Roboto';
}

.col.footer-head h1 {
  color: grey;
  font-size: 11px;
}

.col.footer-head ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.col.footer-head ul li a {
  color: #000000;
  font-family: 'Roboto';
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.col.footer-head h2 {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

.col.col-follow-us {
  width: 100%;
  height: 30px;
}

.col.col-follow-us img {
  margin-right: 5px;
}

.col.col-copyrigght {
  margin-top: 23px;
  text-align: left;
  font-family: 'Roboto';
}

.col.col-follow-us img {
  min-width: 24px;
}

@media (max-width: 768px) {
  .col.footer-head img {
    max-width: 112px;
  }
}

@media (max-width: 767px) {
  #footer {
    display: none;
  }
}

@media (max-width: 767px) {
  #footer-merge {
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  #footer-merge {
    display: none;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-logo {
    padding-bottom: 24px;
    padding-top: 50px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge {
    font-family: 'Roboto';
    text-align: left;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge h1 {
    text-shadow: 1px 1px 2px;
    font-size: 14px;
    color: grey;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge ul {
    padding: 0;
    list-style-type: none;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge ul li a {
    text-shadow: 1px 1px 2px rgb(128,128,128);
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge ul li a:hover {
    color: grey;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge ul li {
    margin-left: 50px;
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-right {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-right i {
    text-shadow: 1px 1px 2px;
    color: #000000;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge h2 {
    text-shadow: 1px 1px 2px grey;
    margin-left: 50px;
    color: #000000;
    font-size: 20px;
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-follow {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-follow img {
    width: 40px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-copyright {
    padding-bottom: 19px;
    font-family: 'Roboto';
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col.col-footer-merge-copyright span {
    font-size: 10px;
    color: grey;
  }
}

