#sec-head {
  background-blend-mode: saturation;
  width: 100%;
  height: 65vh;
  background-image: linear-gradient(rgba(10,9,9,0.54), rgba(24,22,22,0.5)), url('/images/homepage/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col.col-title {
  margin-top: 40px;
  text-align: left;
}

.col.col-title h1 {
  text-shadow: 1px 1px 5px rgb(135,133,133);
  font-size: 20px;
  font-family: 'Roboto';
  line-height: 23px;
  font-weight: bold;
}

.col.col-menu {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 25px;
}

.col.col-menu button {
  border-style: none;
  min-height: 48px;
  min-width: 166px;
  margin-right: 17px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
}

@media (max-width: 992px) {
  .col.col-menu button {
    border-style: none;
    min-height: 48px;
    min-width: 138px;
    margin-right: 17px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
  }
}

.col.col-left {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-left span {
  color: rgb(205,204,204);
  margin-right: 10px;
  font-size: 14px;
}

.col.col-left a {
  text-shadow: 0px 0px;
  text-decoration: none;
  margin-right: 6px;
  color: rgb(205,204,204);
  cursor: pointer;
}

.col.col-left a:hover {
  color: rgb(169,166,166);
}

.col.col-right {
  font-family: 'Roboto';
  text-align: right;
}

.col.col-right span {
  text-shadow: 1px 1px 2px rgb(166,165,165);
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

.col.col-stunt span {
  text-shadow: 2px 2px 5px rgb(135,133,133);
  font-size: 20px;
  color: #ffffff;
}

#stunning {
  background-color: #222222;
}

.col.col-stunt {
  padding: 4px;
  font-family: 'Roboto';
  text-align: center;
}

.col.col-search-title {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-search-title h1 {
  text-shadow: 2px 2px 5px rgb(135,133,133);
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

.col.col-search-title span {
  text-shadow: 2px 2px 5px rgb(135,133,133);
  color: #ffffff;
  font-size: 20px;
}

.col.col-search-title2 span {
  font-size: 14px;
  color: #ffffff;
}

.col.col-search-inp input[type=search] {
  border-radius: 20px;
  border: 1px solid #d6d3d3;
  resize: vertical;
  font-family: 'Roboto';
  padding: 5px;
  min-width: 530px;
}

#search {
  margin-top: 60px;
}

.col.col-stunt a {
  text-shadow: 1px 1px 5px rgb(135,133,133);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
  color: #ffffff;
}

.col.col-stunt a:hover {
  color: rgb(188,186,186);
}

.col.col-stunt .fa.fa-chevron-circle-right {
  top: 2.6px;
  left: -5px;
  position: relative;
  font-size: 21px;
  /*padding-top: 0px;*/
  margin-top: 1px;
  /*transition: 5.2s;*/
  /*transition: 72px;*/
  text-shadow: 2px 2px 4px #000000;
  color: #A8055D;
}

.navbar img {
  margin-right: 10px;
  height: 22px;
  width: 120px;
  margin-left: 8px;
}

.navbar input[type=search] {
  border-style: none;
  background-color: rgba(0,0,0,0.06);
  position: relative;
  border-radius: 18px;
  top: 5px;
  height: 30px;
  width: 368px;
}

.nav-item i {
  left: 7px;
  top: 9px;
  position: relative;
  color: #A8055D;
  /*background-color: #A8055D;*/
  /*border-style: none;*/
  /*border-radius: 8px;*/
  font-size: 21px;
}

.nav-item button {
  top: 6px;
  font-size: 10px;
  border-radius: 17px;
  width: 80px;
  position: relative;
  height: 28px;
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  text-align: center;
}

.navbar.navbar-dark.navbar-expand-md.sticky-top.flex-grow-1 {
  background-color: rgba(54,53,53,0.1);
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(18, 5vw);
  grid-gap: 15px;
}

.img-fluid.figure-img.gallery__img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure.gallery__item.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.figure.gallery__item.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.figure.gallery__item.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.figure.gallery__item.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}

.figure.gallery__item.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 10;
}

.figure.gallery__item.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 13;
}

.figure.gallery__item.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10;
}

.figure.gallery__item.gallery__item--8 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 13;
}

.figure.gallery__item.gallery__item--9 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 16;
}

.figure.gallery__item.gallery__item--10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 16;
}

.figure.gallery__item.gallery__item--11 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 13;
  grid-row-end: 19;
}

.figure.gallery__item.gallery__item--12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 19;
}

.figure.gallery__item.gallery__item--13 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 16;
  grid-row-end: 19;
}

.row.trending {
  margin-top: 30px;
}

.col.col-right i {
  cursor: pointer;
  position: relative;
  top: 2px;
  font-size: 17px;
  color: black;
}

body {
  background-color: #efeded;
}

.col.footer-head span {
  color: #000000;
  font-family: 'Roboto';
  font-size: 30px;
}

.col.col-copyrigght span {
  font-size: 10px;
  color: #828282;
}

.col.col-homepage-article {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-homepage-article h1 {
  text-shadow: 1px 1px 2px rgb(166,165,165);
  font-size: 35px;
  color: #000000;
  font-weight: 900;
}

@media (max-width: 768px) {
  .navbar img {
    min-width: 100px;
  }
}

@media (max-width: 992px) {
  .navbar img {
    min-width: 100px;
  }
}

.navbar-expand-md .navbar-nav a {
  color: #ffffff !important;
}

@media (max-width: 992px) {
  .navbar input[type=search] {
    max-width: 210px;
  }
}

@media (max-width: 992px) {
  .navbar button {
    max-width: 60px;
  }
}

@media (max-width: 992px) {
  .navbar ul li a {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  #search {
    display: none;
  }
}

@media (max-width: 992px) {
  .row.row-search-992 {
    padding-top: 10px;
    padding-left: 240px;
    position: relative;
    top: 118px;
  }
}

@media (max-width: 768px) {
  .navbar input[type=search] {
    max-height: 18px;
    max-width: 134px;
  }
}

@media (max-width: 768px) {
  .navbar ul li a {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .navbar img {
    max-width: 16px;
  }
}

@media (max-width: 768px) {
  .navbar button {
    max-width: 61px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .row.row-search-992 {
    padding-top: 10px;
    padding-left: 87px;
    position: relative;
    top: 51px;
  }
}

@media (min-width: 993px) {
  #search992 {
    display: none;
  }
}

@media (max-width: 576px) {
  .col.col-title {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .col.text-center.col-menu button {
    min-height: 115px;
    min-width: 168px;
    margin-bottom: 12px;
  }
}

@media (max-width: 576px) {
  .row.trending {
    display: none;
  }
}

@media (max-width: 576px) {
  #hide {
    display: none;
  }
}

@media (max-width: 576px) {
  .col.col-homepage-article h1 {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .col.col-right span {
    position: relative;
    font-size: 11px;
    bottom: 3px;
  }
}

@media (max-width: 576px) {
  #search992 {
    display: none;
  }
}

@media (max-width: 430px) {
  .col.text-center.col-menu {
    display: none;
  }
}

@media (max-width: 430px) {
  .col.screen430 {
    text-align: left;
  }
}

@media (max-width: 430px) {
  .col.screen430 button {
    min-width: 155px;
    margin-bottom: 10px;
    margin-left: 6px;
    min-height: 115px;
  }
}

@media (min-width: 431px) {
  .col.screen430 {
    display: none;
  }
}

