.col.col-title-box {
  background-color: #000000;
  text-align: left;
  font-family: 'Roboto';
}

.col.col-title-box h1 {
  margin-top: 8px;
  text-shadow: 1px 2px 2px rgb(166,165,165);
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
}

.col.col-details {
  background-color: #ffffff;
}

.col.col-btn-step {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.col.col-btn-step img {
  height: 100%;
}

.row.row-space-detail-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.col.col-head-menu-inside {
  text-align: center;
  margin-top: 40px;
  font-family: 'Roboto';
}

.col.col-head-menu-inside h1 {
  font-size: 20px;
  color: #828282;
  font-weight: 900;
}

.col.col-btn-step-detail {
  text-align: center;
}

.col.col-btn-step-detail img {
  margin-right: 44px;
  position: relative;
  left: 28px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.col.col-btn-step-detail a {
  cursor: pointer;
  text-decoration: none;
}

.col.column-btn-next {
  margin-top: 9px;
  margin-right: 50px;
  text-align: right;
}

.col.column-btn-next button {
  border-radius: 24px;
  max-height: 29px;
  min-width: 180px;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: grey;
  cursor: pointer;
  border-style: none;
  text-align: center;
  font-size: 13px;
}

.row.row.-limiter {
  background-color: rgb(239,237,237);
}

.col.col-limiter {
  background-color: rgb(239,237,237);
}
/*
.col.col-btn-step-detail img:hover {
  filter: grayscale(72%) hue-rotate(0deg) invert(17%) saturate(10%) sepia(100%);
}*/

.col-xl-3.menu-list {
  padding-left: 90px;
  text-align: left;
  font-family: 'Roboto';
}

.col-xl-3.menu-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.col-xl-3.menu-list li {
  margin-top: 14px;
}

li {
}

.col-xl-3.menu-list li a {
  font-size: 14px;
  color: #222222;
  text-decoration: none;
}

.col-xl-3.menu-list li a:hover {
  color: grey;
}

.col-xl-3.menu-list h1 {
  color: #222222;
  font-size: 20px;
}

.col-xl-3.menu-list span {
  font-size: 10px;
  color: grey;
}

.col-xl-3.menu-list img {
  border-radius: 50%;
  margin: 13px 0px 31px;
  min-height: 150px;
  max-width: 159px;
  min-width: 159px;
  max-height: 150px;
  padding: 1px;
}

.col.col-image-upload {
  font-family: 'Roboto';
  border-radius: 10px;
  padding-top: 37px;
  padding-bottom: 49px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: rgb(239,237,237);
  text-align: center;
}

.col .column-btn-back {
  margin-left: 27px;
  margin-top: 9px;
  margin-right: 50px;
  text-align: left;
}

.col.column-btn-back button {
  border-color: black;
  color: grey;
  border-radius: 24px;
  max-height: 29px;
  min-width: 180px;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.col.col-image-upload h1 {
  margin-top: 17px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #828282;
  font-weight: 900;
}

.col.col-image-upload img {
  width: 59px;
  margin-bottom: 24px;
}

.col.col-image-upload p {
  font-size: 12px;
  color: grey;
  margin-bottom: 0px;
}

.col.col-image-upload button {
  border-radius: 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  border-style: none;
  min-width: 122px;
  background-color: #A8055D;
  margin-top: 42px;
  cursor: pointer;
}

.col.col-finished {
  text-align: left;
  font-family: 'Roboto';
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.col.col-finished h1 {
  font-size: 20px;
  font-weight: 900;
  color: grey;
}

.col.col-finished span {
  font-size: 20px;
  color: grey;
}

.col.col-finished p {
  font-size: 14px;
  color: grey;
  padding: 0;
  margin: 0px 0px 2px;
}

.col.content-info-title {
  margin-left: 8px;
  text-align: left;
  font-family: 'Roboto';
}

.col.content-info-title h1 {
  cursor: auto;
  margin-top: 20px;
  color: #828282;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 50px;
}

.col.col-input-content {
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 52px;
  max-width: 92%;
  margin-left: 20px;
}

.col.col-input-content label {
  right: 9px;
  position: relative;
  margin: 0;
  top: -5px;
  padding: 0;
  font-size: 10px;
  color: #828282;
}

.col.col-input-content input:focus, select:focus, textarea:focus {
  outline: none;
}

.col.col-input-content input[type=text], select {
  cursor: auto;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  padding: 0;
  min-width: 375px;
  position: relative;
  top: -5px;
  border-style: none;
  right: 8px;
}

.col.col-description-content {
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 52px;
  max-width: 92%;
  margin-left: 20px;
}

.col.col-description-content label {
  right: 9px;
  position: relative;
  margin: 0;
  top: -5px;
  padding: 0;
  font-size: 10px;
  color: #828282;
}

.col.col-description-content textarea {
  cursor: auto;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  padding: 0;
  min-height: 110px;
  min-width: 375px;
  position: relative;
  top: -5px;
  border-style: none;
  right: 8px;
}

.col.col-content-input-right {
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 197px;
  max-width: 90%;
  margin-left: 10px;
}

.col.col-content-input-right label {
  right: 9px;
  position: relative;
  margin: 0;
  top: -5px;
  padding: 0;
  font-size: 10px;
  color: #828282;
}

.col-xl-7.col-meta-img {
  min-height: 133px;
  max-height: 133px;
  margin-left: 16px;
  border-radius: 7px;
  border: solid;
}

.col-xl-7.col-meta-detail {
  text-align: left;
  font-family: 'Roboto';
}

.col-meta-detail p {
  margin: 0;
  padding: 0;
}

.col.col-meta-detail {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-meta-detail p {
  color: #828282;
  font-size: 10px;
}

.col.col-content-input-tag {
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 96px;
  max-width: 90%;
  margin-left: 10px;
}

.col.col-content-input-keyword {
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 171px;
  max-width: 90%;
  margin-left: 10px;
}

.col.col-content-input-keyword p {
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  font-weight: 900;
}

.col.col-content-input-keyword a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  color: #A8055D;
  font-weight: 900;
}

.col.col-content-input-keyword span {
  margin-left: 14px;
  font-size: 14px;
  color: #000000;
  font-weight: 900;
}

.col.col-content-input-keyword input[type=radio] {
  /*position: absolute;*/
  /*visibility: hidden;*/
  margin-top: 25px;
  margin-left: 74px;
}

.col.col-content-terms span {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 13px;
  color: #000000;
  /*font-weight: 900;*/
}

.col.col-content-terms a {
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  color: #A8055D;
  font-weight: bold;
}

.col.col-content-terms {
  padding-top: 12px;
  margin-bottom: 20px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  font-family: 'Roboto';
  min-height: 52px;
  max-width: 394px;
  margin-left: 20px;
}

.col.col-upload-btn {
  margin-top: 10px;
  text-align: right;
  font-family: 'Roboto';
}

.col.col-upload-btn button {
  outline: none;
  border-color: #000000;
  min-width: 93px;
  max-height: 30px;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 24px;
}

.col.col-upload-btn button:hover {
  background-color: rgba(65,67,65,0.79);
}

.col.col-upload-btn button:active {
  outline: none;
  background-color: rgba(168,5,93,0.7) !important;
}

.col.col-upload-btn button:focus {
  border-color: black !important;
  outline: none !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,0);
}

.submit-btn {
  border-style: none;
  background-color: #A8055D;
  color: #ffffff;
}

.submit-cancel {
  background-color: #ffffff;
  color: #000000;
}

.upload {
  color: #ffffff;
  background-color: #000000;
}

.col.col-upload-form {
  font-family: 'Roboto';
  text-align: left;
}

.col.col-upload-form p {
}

.col.col-paginate {
  position: relative;
  text-align: center;
  left: 143px;
}

.dragover {
  background-color: #000000;
}

.col.column-btn-next button:active {
  background-color: #A8055D !important;
  outline-color: #A8055D !important;
}

.col.column-btn-back button:active {
  background-color: #A8055D !important;
  outline-color: #A8055D !important;
}



