.navbar {
  font-family: 'Roboto';
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0px 0px;
  background-color: #000000;
}

@media (max-width: 767px) {
  #navbar-normal {
    display: none;
  }
}

@media (min-width: 767px) {
  #navbar-collaspe {
    display: none;
  }
}

.menuu {
  text-align: left;
}

.menuu-search input[type=search] {
  max-height: 27px;
  font-size: 12px;
  padding-left: 20px;
  font-family: 'Roboto';
  text-align: left;
  position: relative;
  border-radius: 24px;
  background-color: #ffffff;
  margin-bottom: 11px;
}

@media (max-width: 1192px) {
  .menuu-search input[type=search] {
    max-width: 221px;
    max-height: 27px;
    font-size: 12px;
    padding-left: 20px;
    font-family: 'Roboto';
    text-align: left;
    position: relative;
    border-radius: 24px;
    background-color: #ffffff;
    margin-bottom: 11px;
  }
}

@media (max-width: 992px) {
  .menuu-search input[type=search] {
    max-width: 143px;
    max-height: 27px;
    font-size: 12px;
    padding-left: 20px;
    font-family: 'Roboto';
    text-align: left;
    position: relative;
    border-radius: 24px;
    background-color: #ffffff;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .search-collapse input[type=search] {
    height: 25px;
    background-color: #ffffff;
    width: 239px;
    margin-bottom: 9px;
  }
}

@media (max-width: 496px) {
  .search-collapse input[type=search] {
    height: 25px;
    background-color: #ffffff;
    width: 133px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .search-collapse img {
    width: 21px;
    position: relative;
    right: 31px;
    top: 3px;
  }
}

.menuu-search img {
  right: 36px;
  top: 6px;
  bottom: 0px;
  position: relative;
  height: 24px;
  width: 26px;
}

@media (max-width: 767px) {
  .collapse-buttn img {
    width: 32px;
  }
}

@media (max-width: 496px) {
  .collapse-buttn img {
    width: 23px;
  }
}

@media (max-width: 767px) {
  .collapse-logo img {
    width: 111px;
    height: 26px;
    margin-top: 9px;
    margin-bottom: 8px;
  }
}

@media (max-width: 496px) {
  .collapse-logo img {
    width: 92px;
    height: 26px;
    margin-top: 9px;
    margin-bottom: 8px;
  }
}

.menuu-search img:hover {
}

.menuu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.menuu li {
  border-right: 1px solid rgba(187,187,187,0.29);
  float: left;
  margin-left: 2px;
}

.menuu li a {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 10px 14px;
  text-align: center;
  display: block;
  cursor: pointer;
}

@media (max-width: 992px) {
  .menuu li a {
    font-family: 'Roboto';
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 5px 14px;
    text-align: center;
    display: block;
    cursor: pointer;
  }
}

.menuu a:hover {
  background-color: #222222;
  /*padding-right: 8px;*/
  /*padding-left: 8px;*/
  border-right: 24px;
  box-shadow: 1px 1px 2px rgba(166,165,165,0.31);
}

footer-merge-title {
  text-align: left;
  font-family: 'Roboto';
}

.col.footer-merge-title h1 {
  font-size: 12px;
}

.collapse-buttn {
  text-align: center;
}

.collapse-logo {
  text-align: center;
}

