#section1 {
  background-image: url("/images/planpricepack/image%208.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.col.col-ppp-sec1 {
  font-family: 'Roboto';
  text-align: left;
}

.col.col-ppp-sec1 h1 {
  text-shadow: 2px 2px 2px rgb(166,165,165);
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;
}

.col.col-ppp-sec1 p {
  text-shadow: 2px 2px 2px rgb(166,165,165);
  color: #ffffff;
  font-size: 14px;
}

.col.col-ppp-sec1 button {
  box-shadow: 2px 2px 2px rgb(166,165,165);
  margin-top: 20px;
  min-height: 20px;
  color: #222222;
  border-radius: 24px;
  min-width: 139px;
  background-color: #ffffff;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
}

.col.col-ppp-sec1 i {
  font-size: 22px;
  color: #A8055D;
  position: relative;
  top: 2px;
  left: 10px;
}

.row.row-ppp1-space {
  padding-top: 90px;
}

#ppp-sec3 {
  background-blend-mode: saturation;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(21,20,20,0.16), #0d0d0d),url("/images/planpricepack/image%203.png");
}

.row.row-ppp3-space {
  padding-top: 60px;
  padding-bottom: 60px;
}

.col.col-ppp-sec3 {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-ppp-sec3 h1 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}

.col.col-ppp-sec3 p {
  font-size: 14px;
  color: #ffffff;
}

.col.col-ppp-sec3 button {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  color: #ffffff;
  background-color: #A8055D;
  min-width: 150px;
  border-style: none;
}

.col.col-ppp-sec3 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.card-body h4 {
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgb(166,165,165);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #222222;
}

.col.col-price-title-left p {
  color: #000000;
  font-family: 'Roboto';
  font-size: 14px;
}

.col.col-price-title-left span {
  text-shadow: 1px 1px 2px rgb(166,165,165);
  color: #A8055D;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  bottom: 20px;
  position: relative;
}

.col-xl-2.col-price-title-right {
  margin-top: 13px;
  text-align: center;
}

.col-xl-2.col-price-title-right input[type=radio] {
}

.col.col-ppp-sec2 {
  text-align: left;
  font-family: 'Roboto';
}

.col.col-ppp-sec2 h1 {
  text-shadow: 1px 2px 2px rgb(166,165,165);
  font-weight: 900;
  font-size: 30px;
  color: #000000;
}

.col.col-ppp-sec2 p {
  text-shadow: 1px 1px 2px rgb(166,165,165);
  color: #222222;
  font-size: 14px;
}

.col.col-ppp-sec2 {
  margin-right: 20px;
  margin-left: 0px;
  font-family: 'Roboto';
  color: #222222;
}

.col.col-ppp-sec2 ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.col.col-ppp-sec2 ul li {
  text-shadow: 1px 1px 2px rgb(166,165,165);
  color: #222222;
  margin-top: 3px;
  font-size: 14px;
}

.row.row-ppp2-space {
  padding-top: 100px;
}

.row.row-ppp2-space-btm {
  padding-bottom: 100px;
}

#ppp-sec2 {
  background-color: #ffffff;
}

.row.row-ppp2-space-mid {
  padding-top: 14px;
  padding-bottom: 40px;
}

.card.card-price {
  min-height: 550px;
  border-radius: 10px;
  background-color: #fbe6f5;
  box-shadow: 2px 2px 2px rgba(166,165,165,0.49);
  border: 1px solid #fbe6f5;
}

.card.card-price button {
  text-shadow: 1px 2px 2px rgb(166,165,165);
  min-width: 284px;
  border-radius: 24px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  background-color: #A8055D;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

