#hero {

  background-image: url(../images/image%208.svg);
 
  width: 100%;
  height: 120vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-reg {

  background-image: url(../images/image%208.svg);
 
  width: 100%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col.title-register {
  font-family: 'Roboto';
  font-weight: bold;
  text-align: left;
  font-size: 30px;
  color: white;
  margin-bottom: 19px;
  /*align-items: center;*/
}

.col.reg-input {
  margin: 0px 0px 13px;
}

button, input {
  background-position: center;
  background-color: #ffffff;
}

#imageUpload
{
    position: relative;
    bottom: 130px;
    padding: 50px;
    opacity:0;
    cursor: pointer;
    
}

#profileImage
{
    cursor: pointer;
}

input[type=text], input[type=password], select, text {
  width: 100%;
  padding: 12px;
  border: 1px solid #d6d3d3;
  border-radius: 7px;
  resize: vertical;
  font-family: 'Roboto';
}

.info-req {
  width: 100%;
  height: 100%;
  margin-top: 14px;
}

.info-req p {
  font-family: 'Roboto';
  color: white;
  font-size: 10px;
}

.col.col-btn-reg {
  width: 100%;
  height: 100%;
  text-align: right;
}

.col.col-btn-reg button {
  border-radius: 30px;
  color: white;
  background-color: #87b700;
  padding: 10px;
  width: 77%;
  height: 46px;
  font-size: 16px;
  font-family: 'Roboto';
}

.row.req-field {
  margin-top: 17px;
  margin-bottom: 14px;
}

.orline {
  width: 100%;
  height: 10px;
  border-bottom: 1px solid white;
  margin-top: 20px;
  text-align: right;
  padding: 0px;
  /*margin-right: 0px;*/
  /*margin-left: 10%;*/
}

.col.col-orlines {
  text-align: left;
  width: 100%;
}

.row.rowor {
  margin-bottom: 26px;
}

.orline span {
  color: white;
  margin: -24px;
}

.col.col-fb-signup button {
  width: 100%;
  background-image: url(../images/001-facebook.svg);
  height: 100%;
  border-radius: 23px;
  background-position: initial;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
}

.jrbtn2 {
  width: 100%;
  height: 46px;
  text-align: left;
  /*background-color: red;*/
  margin: 24px 0px 0px;
}

.jrbtn2 button {
  background-position: initial;
  background-image: url(../images/001-facebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  /*display: inline-block;*/
  height: 100%;
  border-radius: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #222222;
  font-size: 14px;
  background-color: #f2f2f2;
}

.col.col-policy {
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.agree-policy {
  text-align: center;
  font-family: 'Roboto';
  color: white;
}

.col.col-policy span {
  font-size: 14px;
}

.col.col-policy a {
  font-size: 14px;
  color: rgb(168,5,93);
}

.col-sm-3 img {
  width: 200px;
  margin-left: 0px;
  height: auto;
  margin-top: 20px;
}

.col-sm-2 h3 {
  font-size: 12px;
  color: #828282;
  font-family: 'Roboto';
  margin-left: 0px;
}

.col-sm-2 ul {
  margin-left: 0px;
  font-family: 'Roboto';
  list-style-type: none;
}

.col-sm-2 ul li {
  padding-left: 2em;
  text-indent: -2em;
  list-style-type: none;
  padding: 10px;
  margin-left: 13px;
}

.col-sm-2 ul li a {
  float: left;
  font-weight: bold;
  position: absolute;
  color: #4b4c4d;
  font-size: 12px;
  margin-left: 0px;
}

.col-copyrght {
  margin-left: 16px;
  padding: 0px;
}

.col-img-followus {
  margin-left: 15px;
  width: 100%;
  height: 30px;
}

.col-img-followus img {
  width: 30px;
  align-items: center;
  margin: -11px 2px 3px;
}

.col-sm-3 h3 {
  font-family: 'Roboto';
  font-size: 12px;
  color: #828282;
}

.col-copyrght p {
  font-family: 'Roboto';
  font-size: 10px;
}

.footer-mgn {
  margin-top: 0px;
  /*margin-top: 4%;*/
  background-color: #fff;
}

.col.bcme-contrib-info {
  margin-left: 60px;
  margin-right: 20px;
}

.col.bcme-contrib-info p {
  font-family: 'Roboto';
  color: #aeaeae;
  font-size: 11px;
}

.col.bcme-contrib-info button {
  font-size: 12px;
  color: white;
  background-color: #a8055d;
  border-radius: 30px;
  width: 167px;
  margin-left: 10px;
  text-align: center;

}


.col.bcme-contrib-info a {
  font-size: 12px;
  color: white;
  background-color: #a8055d;
  border-radius: 30px;
  width: 167px;
  margin-left: 10px;
  text-align: center;

}


.col.input-prf-col label {
  color: grey;
  font-size: 12px;
}

.col.input-prf-col input{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: -20px;
  max-height: 20px;
  margin-left: -10px;
  border: none;
  outline: none;
  margin-bottom: 10px;

}


.col.input-prf-col select{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: -10px;
  max-height: 50px;
  margin-left: -10px;
  text-align: center;
  min-width: 405px;
  max-width: 405px;
   border: none;
  outline: none;

 

}


.col.input-prf-col input[type=date]{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: -10px;
  max-height: 50px;
  margin-left: -10px;
  text-align: center;
 padding-top: 10px;
 min-width:200px;
   border: none;
  outline: none;

 

}






.jrbtn3 {
  width: 100%;
  height: 46px;
  text-align: left;
  /*background-color: red;*/
  margin: 24px 0px 0px;
}

.jrbtn3 button {
  background-position: initial;
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  display: inline-block;
  height: 100%;
  border-radius: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #222222;
  font-size: 14px;
  background-color: #f2f2f2;
}

.row.rormidforgot {
  margin-bottom: 10%;
}

.row.row-lgn-mgn {
  margin-bottom: 5%;
}

body {
  background-color: #eaeaea;
}

.row.rowfoot {
  padding-top: 25px;
}

.navbar.navbar-dark.navbar-expand-md.bg-dark.shadow-lg {
  background-color: #000!important;
}

.container.shadow-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.col.prf-title {
  margin: 0px 0px 21px;
  background-color: #0a0a0a;
}

.col.prf-title h3 {
}

.col.prf-title h3 {
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin: 6px 24px 6px;
  padding-bottom: 4px;
}

.col.tiitle-info {
  margin: 20px 25px 20px;
}

.col.text-black-50.tiitle-info h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.col.text-black-50.tiitle-info h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.col.title-info-edit {
  padding-right: 26px;
  margin: 30px 0px 20px;
}

.col.text-right.title-info-edit a {
  font-weight: bold;
  color: rgb(168,5,93);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.col.input-prf {
  margin: 0px 0px 20px;
}

.col.input-prf-col p {
  color:grey;
  font-family: 'Roboto';
  font-size:12px;
  margin-bottom: 0px;
  margin-top: 10px;
}


.col.input-prf-col span{
  color:grey;
  font-family: 'Roboto';
  font-size: 12px;
}

.col.input-prf-col {
  
  text-align: left;
  border: 1px solid #d6d3d3;
  margin: 1px 26px 19px;
  padding-bottom: 10px;
  max-height: 68px;
  border-radius: 10px;
  position: relative;
}

.col.input-prf-col-right {
  
  text-align: left;
  border: 1px solid #d6d3d3;
  margin: 1px 26px 19px;
  padding-bottom: 10px;
  min-height: 130px;
  max-height: 130px;
  border-radius: 10px;
  position: relative;
}


.col.input-prf-col-right textarea {
  
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;  
  border: none;
  outline: none;
}



.col.input-prf-col-right label {
  color: grey;
  font-size: 12px;
}






.col.last-col-prf {
  margin-bottom: 63px;
}


.col.input-address-prf-col{

  text-align: left;
  border: 1px solid #d6d3d3;
  margin: 1px 26px 19px;
  padding-bottom: 10px;
  min-height: 200px;
  max-height: 68px;
  border-radius: 10px;
  position: relative;


}


.col.input-address-prf-col h3{

font-family: 'Roboto';
font-weight: bold;
font-size: 16px;
margin-bottom: 15px;
margin-top: 10px;

}




.col.input-address-prf-col p{

margin-bottom: 0px;
font-size: 14px;
font-family: 'Roboto';



}

.col.btn-billing button {
  width: 100%;
  border-radius: 11px;
  height: 58px;
  background-color: #F2F2F2;
  font-size: 15px;
  color: grey;
  font-family: 'Roboto';
}

.col.btn-billing {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}



.col.fb-link-acc {
  background-image: url("../images/searchbg.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.col.fb-link-acc img {
  margin-left: 0px;
  max-width: 41px;
  max-height: 41px;
}

.col.google-link-acc {
  background-image: url("../images/searchgbg.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}



.col.prf-photo {
  text-align: center;  
  border: 1px solid #d6d3d3;
  margin: 1px 26px 19px;

  max-height: 180px;
  min-height: 180px;
 
  border-radius: 10px;
  position: relative;
}


.col.prf-photo label{
  color: grey;
  font-size: 12px;

}

.col.prf-photo img {
 
  margin-top: 30px;
  margin-right: 60px;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 50%;
  position: relative;
 
 
}

.col.google-link-acc img {
}

.col.side-menu-prf {
  margin-top: 0px;

}

.col.side-menu-prf ul {
  list-style-type: none;
  margin-left: 25px;
}

.col.side-menu-prf ul li {
  margin-bottom: 4px;
}

.col.side-menu-prf ul li a {
  font-size: 14px;
  font-family: 'Roboto';
  color: #222222;
}

.col.side-menu-prf ul li a:hover {
  color:white;
  /*background-color:   #F8192C;*/
  text-decoration-line:none;
  cursor: pointer;
}


.col.side-menu-prf ul li a.active {
  
  font-weight: bold;
  
}


.col.prf-side-photo {
  width: 289px;
  height: 80px;
  max-height: 100px;
  margin: 18px 0px 73px;
  max-width: 290px;
}

.col.text-center.prf-side-photo img {
  margin: 8px 0px 0px;
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  padding: 1px;
  border-radius: 50%;
}

.table-responsive.tblephto {
  width: 316px;
  max-width: 280px;
  height: 249px;
  max-height: 176px;
  margin-left: 56px;
  padding: 1px;
}

.dropdown.drpimge {
  text-align: center;
  list-style-type: none;
  height: 38px;
  width: 90px;
  margin-top: 1px;
  margin-right: 2px;
  margin-left: 2px;
  color: #a0a5a9!important;
  font-family: Roboto, sans-serif;
  padding: 9px;
}

.dropdown.drpimge a {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0px;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border-radius: 8px;
  width: 290px;
  height: 32px;
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.85;
  filter: saturate(98%);
}

#basic-addon1 {
  text-align: center;
  color: rgb(222,33,146);
}

.dropdown-menu.show.menu-img-sect a {
  color: black;
  font-family: 'Roboto';
}

.col.sve-btn-prf {
  padding-right: 20px;
  margin-bottom: 45px;
  font-size: 12px;
}

.col.text-right.sve-btn-prf button {
  margin-left: 22px;
  width: 121px;
  height: 33px;
  border-radius: 33px;
  font-family: 'Roboto';
  text-align: center;
  font-size: 14px;
  color: white;
}

.col.col-last-edit-prf {
  height: 70px;
}

.col.col-last-input-prf {
  height: 120px;
}

.col.col-comment-parp {
  font-family: 'Roboto';
}

.col.text-left.col-comment-parp span {
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
}

.col.col-comment-butn button {
  margin-left: 22px;
  width: 121px;
  height: 33px;
  border-radius: 33px;
  font-family: 'Roboto';
  text-align: center;
  font-size: 14px;
  color: black;
}

.col.col-comment-butn {
  padding-right: 35px;
}

.row.row-last-mrgn {
  margin-bottom: 57px;
}

.col.text-left.img-plan-sub {
  margin-bottom: 2px;
  margin-left: 25px;
}

.col.text-left.img-plan-sub span {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
}

.col.text-left.img-plan-sub p {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto';
}


.col.card-address {
    margin-left: 24px;
    margin-right: 15px;
    font-family: 'Roboto';
}


.col.card-address h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
}

.col.card-address p {
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'Roboto';
}

.col.address-edit a {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color:#A8055D;
  text-decoration-line: none;

}
.col.address-edit {
    text-align: right;
    color:red;
}


.card.crd-margin {
  margin-bottom: 20px;
}

.col.cor-card {
  margin-right: 20px;
  margin-left: 25px;
}

.card-body.mrgn {
  margin-top: -35px;
  margin-bottom: -20px;
  margin-left: -35px;
}

.col-xl-3.text-right.radio-btn-post {
  margin-top: 25px;
}

.col.add-payment {
  margin-bottom: 18px;
  text-align: center;
}

.col.add-payment button {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Roboto';
  background-color: #f2f2f2;
  color: grey;
}



.col-bx-1 {
  border-style: groove;
  min-height: 70px;
  border: 1px solid #d6d3d3;
  margin: 3px 6px 18px;
  max-height: 80px;
  border-radius: 10px;
  position: relative;
}

.col.col-bx2 {
  min-height: 100px;
  border: groove;
}

.row.col-bx2 {
  min-height: 170px;
  border-style: groove;
  border: 1px solid #d6d3d3;
  margin: 3px -7px 18px;
  max-height: 170px;
  border-radius: 8px;
  position: relative;
}

.col.col-bx-1 input {
  margin-top: -9px;
  max-height: 40px;
  border: none;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 20px;
}

.col.col-bx-1 label {
  color: grey;
  font-size: 13px;
  font-family: 'Roboto';
}

.col.col-bx2-info {
  margin-left: 0px;
}

.col.col-bx2-info label {
  font-family: 'Roboto';
  font-size: 22px;
  color: grey;
}

.col.col-bx2-info p {
  color: grey;
  font-size: 10px;
  margin-top: 7px;
}

.col-xl-5.col-bx2-info2 p {
  font-size: 12px;
  margin-top: 15px;
  color: grey;
  font-family: 'Roboto';
}

.col.col-bx2-info input {
  font-size: 38px;
  font-weight: bold;
  font-family: 'Roboto';
  border-radius: 12px;
}

.col-xl-5.text-left.col-bx2-info2 a {
  color: #A8055D;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Roboto';
}

.col.tabel-span-title span {
  color: grey;
  font-size: 12px;
  font-family: 'Roboto';
}

.col.tabel-span-title {
  margin-left: 12px;
  margin-bottom: 20px;
}

.col.space-align {
  margin-left: 9px;
  margin-bottom: 10px;
}

.table-responsive.shadow-sm.tble-setting1 {
  font-size: 12px;
  font-family: 'Roboto';
  border-radius: 9px;
}

.tble-header-color{
  background-color: #aeb1b4;
}

.row.jarakcolumn {
  min-height: 50px;
  background-color: #eaeaea;
}

.col.grid-set2 {
  max-width: 258px;
}

.col.grid-set2 img {
  max-width: 258px;
  min-width: 240px;
  max-height: 353px;
  min-height: 174px;
  margin-bottom: 10px;
}

.col.grid-set1 {
  max-width: 258px;
}

.col.grid-set1 img {
  max-width: 258px;
  max-height: 170px;
  min-width: 258px;
  min-height: 170px;
  margin-bottom: 10px;
}

.col-lg-4.gridset1 {
  max-width: 250px;
  margin-left: 0px;
  margin-bottom: 9px;
}

.col-lg-4.gridset1 img {
  max-width: 237px;
}

.row.rowgrid1 {
  margin-left: 20px;
}

.col-lg-4.gridset2 {
  margin-bottom: 9px;
  max-height: 320px;
}

.col-lg-4.gridset2 img {
  max-height: 322px;
}

.col.upload-cntnt {
  text-align: center;
}

.col.upload-cntnt img {
  margin-left: 25px;
}

.col.upload-cntnt-last {
  text-align: right;
}

.col.upload-cntnt-last button {
  border-radius: 25px;
  min-width: 180px;
  background-color: grey;
  font-size: 14px;
  font-family: 'Roboto';
}

.col.upload-cntn-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 4px;
}

.col.upload-cntn-title h1 {
  color: grey;
  font-size: 18px;
  font-family: 'Roboto';
}



small {

  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  color: red;
}







