
.row.rowfoot {
  padding-top: 25px;
}


.col-sm-3 img {
  width: 200px;
  margin-left: 0px;
  height: auto;
  margin-top: 20px;
}

.col-sm-2 h3 {
  font-size: 12px;
  color: #828282;
  font-family: 'Roboto';
  margin-left: 0px;
}

.col-sm-2 ul {
  margin-left: 0px;
  font-family: 'Roboto';
  list-style-type: none;
}

.col-sm-2 ul li {
  padding-left: 2em;
  text-indent: -2em;
  list-style-type: none;
  padding: 10px;
  margin-left: 13px;
}

.col-sm-2 ul li a {
  float: left;
  font-weight: bold;
  position: absolute;
  color: #4b4c4d;
  font-size: 12px;
  margin-left: 0px;
}

.col-copyrght {
  margin-left: 16px;
  padding: 0px;
}

.col-img-followus {
  margin-left: 15px;
  width: 100%;
  height: 30px;
}

.col-img-followus img {
  width: 30px;
  align-items: center;
  margin: -11px 2px 3px;
}

.col-sm-3 h3 {
  font-family: 'Roboto';
  font-size: 12px;
  color: #828282;
}

.col-copyrght p {
  font-family: 'Roboto';
  font-size: 10px;
}

.footer-mgn {
	min-width: 1000px;
	min-height: 200px;
  margin-top: 0px;
  /*margin-top: 4%;*/
  background-color: #fff;
}
